.picker {
    height: 192px;
    overflow: hidden;
    display: inline-block;
}

.picker .picker-scroller {
    transform: translate3d(0, 0, 0);
    list-style: none;
    padding: 0;
    margin: 0;
}

.picker .picker-scroller li {
    display: block;
    font-size: 32px;
    line-height: 64px;
    height: 64px;
    width: 64px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0 9px;
    user-select: none;
    opacity: 0.4;
}

.picker .picker-scroller li.selected {
    color: #000;
    opacity: 1;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}