.popover {
    z-index: 9999999;
}

.popover-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 5px black;
    background-color: white;
    animation: slidein 0.5s ease-in;
}

.popover-bg {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.1;
    animation: fadein 0.5s ease-in;
}

@keyframes slidein {
    from {
        transform: translateY(999px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.1;
    }
}